:root {
  --white: #fff;
  --blue: #2196f3;
  --black: #000000;
  --gray: #212121;
  --lightgray: #757575;
  --bgcolor: #2f303a;
  --footeradress: #ffffff99;
  --btnbg: #f5f4fa;
}
* {
  margin: 0;
  padding: 0;
}
p {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.page {
  font-family: "Roboto", sans-serif;
  color: var(--gray);
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.icon-header-mail {
  width: 16px;
  height: 12px;
  fill: var(--lightgray);
}

/* header */
.page-header {
  border-bottom: 1px solid #ececec;
  text-align: center;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.header-logo__link {
  text-decoration: none;
  color: var(--black);
}
a.header-nav__link.active-page {
  position: relative;
  color: var(--blue);
}
.active-page::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -33px;
  border-bottom: 4px solid var(--blue);
  border-radius: 2px;
  width: 100%;
}
.header-logo__link--blue {
  color: var(--blue);
}
.header-nav__list {
  list-style: none;
  display: flex;
}
.header-nav__link {
  text-decoration: none;
  color: var(--gray);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--blue);
}
.header-nav__item {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  margin-right: 46px;
}
.header-nav__item:last-child {
  margin-right: 0px;
}
.header-contact {
  margin-left: auto;
}
.header-contact__list {
  list-style: none;
  display: flex;
  align-items: baseline;
}
.header-contact__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.header-contact__item:last-child {
  margin-left: 50px;
}
.header-contact__link {
  text-decoration: none;
  color: var(--lightgray);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link svg {
  text-decoration: none;
  color: var(--lightgray);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--blue);
}

.header-contact__link:hover svg,
.header-contact__link:focus svg {
  fill: var(--blue);
}

.icon-header-smartphone {
  width: 10px;
  height: 16px;
  padding-top: 5px;
}

/* footer */
.page-footer {
  background-color: var(--bgcolor);
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin-bottom: 20px;
}
.footer-logo__link {
  color: var(--white);
  text-decoration: none;
}
.footer-logo__link--blue {
  color: var(--blue);
}
.footer-adress {
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-top: 0px;
  margin-bottom: 9px;
}
.footer-contact-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
.footer-contact__item {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.footer-contact__item:first-child {
  margin-bottom: 9px;
}

.footer-contact__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact__link:hover,
.footer-contact__link:focus {
  color: var(--blue);
}
.footer__socials {
  margin-left: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}
.footer__socials p {
  margin-bottom: 20px;
}
.footer__social-icon-div {
  display: flex;
  list-style: none;
}
.footer__icon {
  fill: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-footer-social-div {
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer-social-div:hover,
.icon-footer-social-div:focus {
  background-color: var(--blue);
  cursor: pointer;
}
.icon-footer-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer-link:focus .icon-footer-social-div {
  background-color: var(--blue);
}
.sign-ip-footer {
  margin-left: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
label[for="sign-up"] {
  display: block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
  margin-left: 68px;
}

.btn-sign-up {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--white);
  line-height: 1.88;
}
.svg-btn {
  margin-left: 24px;
  position: relative;
  top: 5px;
}

.sign-ip-footer button {
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
}
.sign-ip-footer input {
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-email-input {
  padding-left: 16px;
}

/* index-main */
.header-main-section {
  background-color: var(--bgcolor);
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/background-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  margin: 0 auto;
}
.main-section-header {
  display: flex;
  flex-direction: column;
}
.main-section-header__h1 {
  color: var(--white);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  line-height: 1.4;
  margin-top: 0px;
}
.main-section-header__btn {
  padding: 10px 42px 10px 41px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.7;
  cursor: pointer;
}
.work {
  background-color: var(--white);
}
.work-description__list {
  display: flex;
  font-size: 14px;
  color: var(--lightgray);
  letter-spacing: 0.03em;
  list-style: none;
  line-height: 1.71;
  padding-left: 0px;
}
.work-description__item {
  margin-right: 30px;
}
.work-description__item:last-child {
  margin-right: 0px;
}
.work-description__item--bigger {
  color: var(--gray);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 10px;
}
.work-description__icon {
  width: 70px;
  height: 70px;
}
.work-description__icon-div {
  background-color: rgba(245, 244, 250, 1);
  display: inline-block;
  padding: 25px 100px 25px 100px;
  margin-bottom: 30px;
}
.work-description--position {
  position: relative;
}
.work-description__title {
  background-color: #2f303acc;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.14;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.work-photos {
  background-color: #e5e5e5;
}
.work-h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--gray);
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
  line-height: 1.17;
}
.work-description__photos {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  min-width: 1200px;
}

.team {
  background-color: #f5f4fa;
}
.team__header {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--gray);
  line-height: 1.17;
  margin-top: 0px;
  margin-bottom: 50px;
}
.team__list {
  list-style: none;
  display: flex;
  padding-left: 0px;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
.team__item {
  text-align: center;
  margin-right: 30px;
  background-color: var(--white);
  font-size: 16px;
  color: var(--lightgray);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  line-height: 1.17;
}
.team__item:last-child {
  margin-right: 0px;
}
.team__item--header {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--gray);
  line-height: 1.17;
}
.icon-team {
  fill: rgba(175, 177, 184, 1);
}
.team-social-icon-div {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: space-between;
  margin-top: 16px;
  list-style: none;
}
.icon-team-social-div {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team-social-div svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team-social-div:hover svg,
.icon-team-social-div:focus svg {
  fill: #fff;
}
.icon-team-social-div:hover,
.icon-team-social-div:hover {
  background-color: #2196f3;
  border-radius: 50%;
  cursor: pointer;
}
.icon-team-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team-link:focus .icon-team-social-div svg {
  fill: var(--white);
}
.icon-team-link:focus .icon-team-social-div {
  background-color: #2196f3;
}
.clients__header {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
  margin-bottom: 50px;
}
.clients__div {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.clients__bg-and-border {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__bg-and-border svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__bg-and-border:hover svg,
.clients__bg-and-border:focus svg {
  color: var(--blue);
  fill: #2196f3;
}
.clients__bg-and-border:hover,
.clients__bg-and-border:focus {
  border: 1px solid var(--blue);
  cursor: pointer;
}
.clients-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:focus .clients__bg-and-border svg {
  color: var(--blue);
  fill: #2196f3;
}
.clients-link:focus .clients__bg-and-border {
  border: 1px solid var(--blue);
}
/* main-portfolio */

.portfolio-nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 50px;
}
.portfolio-nav__item--btn-design {
  background-color: #f5f4fa;
  color: var(--gray);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.6;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav__item--btn-design:hover,
.portfolio-nav__item--btn-design:focus {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-nav__item {
  margin-right: 8px;
}
.portfolio-nav__item:last-child {
  margin-right: 0px;
}
.portfolio__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 30px;

  justify-content: center;
  color: var(--lightgray);
  font-size: 14px;
}
.portfolio__item--header {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  color: var(--gray);
  padding-left: 24px;
  padding-top: 20px;
  border-right: 1px #ececec solid;
  border-left: 1px #ececec solid;
}
.portfolio__item {
  background-color: var(--white);
  max-width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__img {
  position: relative;
  overflow: hidden;
}
.portfolio__item:hover .portfolio__info {
  transform: translatey(0);
}
.portfolio__info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 49px 45px 49px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.portfolio__item--description {
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 20px;
  border-bottom: 1px #ececec solid;
  border-right: 1px #ececec solid;
  border-left: 1px #ececec solid;
  line-height: 1.9;
}
/* Modal Window */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--white);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}
.modal-container {
  padding: 40px;
}
.modal-container p {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.15;
}
.label-modal {
  display: block;
  margin-bottom: 4px;
  color: var(--lightgray);
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.label-modal[type="input"] {
  outline: none;
}
.input-modal {
  display: block;
  height: 40px;
  width: 448px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-container textarea {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.textarea-modal:focus {
  border-color: var(--blue);
}

.checkbox-modal {
  width: 16px;
  height: 15px;
}
.modal-container button {
  padding: 10px 76px;
  text-align: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--white);
  width: 200px;
  height: 50px;
}
.btn-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.icon-modal {
  position: absolute;
  top: 32px;
  left: 12px;
}

.label-modal:focus-within {
  border-color: var(--blue);
  fill: #2196f3;
}
.label-modal:focus-within .input-modal {
  border-color: var(--blue);
}
.hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.checkbox-modal {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: solid black 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-modal:checked {
  background-color: var(--blue);
  background-image: url(../images/ok.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 2px;
}
.div-check {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-check input {
  margin-right: 8px;
  cursor: pointer;
}
.div-check a {
  color: #2196f3;
}
