.page-header {
  border-bottom: 1px solid #ececec;
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  &__link {
    text-decoration: none;
    color: $black;

    &--blue {
      color: $blue;
    }
  }
}
.header-nav {
  &__link {
    text-decoration: none;
    color: $gray;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $blue;
    }
    &--active {
      position: relative;
      color: $blue;

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -33px;
        border-bottom: 4px solid $blue;
        border-radius: 2px;
        width: 100%;
      }
    }
  }
  &__list {
    list-style: none;
    display: flex;
  }
  &__item {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    margin-right: 46px;

    &--margin-right-0 {
      margin-right: 0px;
    }
  }
}

.header-contact {
  margin-left: auto;

  &__list {
    list-style: none;
    display: flex;
    align-items: baseline;
  }
  &__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    &--margin-left {
      margin-left: 50px;
    }
  }
  &__link {
    text-decoration: none;
    color: $lightgray;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .header-contact__icon {
      text-decoration: none;
      color: $lightgray;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover,
    &:focus {
      color: $blue;

      .header-contact__icon {
        fill: $blue;
      }
    }
  }
  &__icon {
    &--smartphone {
      width: 10px;
      height: 16px;
      padding-top: 5px;
    }
    &--mail {
      width: 16px;
      height: 12px;
      fill: $lightgray;
    }
  }
}
