.header-main-section {
  background-color: $bgcolor;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/background-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  margin: 0 auto;
}
.main-section-header {
  display: flex;
  flex-direction: column;
  &__h1 {
    color: $white;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    line-height: 1.4;
    margin-top: 0px;
  }
  &__btn {
    padding: 10px 42px 10px 41px;
    font-weight: 700;
    color: $white;
    background-color: $blue;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.7;
    cursor: pointer;
  }
}
.work {
  background-color: $white;
  &-photos {
    background-color: #e5e5e5;
  }
  &-h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: $gray;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
    line-height: 1.17;
  }
}
.work-description {
  &__list {
    display: flex;
    font-size: 14px;
    color: $lightgray;
    letter-spacing: 0.03em;
    list-style: none;
    line-height: 1.71;
    padding-left: 0px;
  }
  &__item {
    margin-right: 30px;
    &--margin-0 {
      margin-right: 0px;
    }
    &--bigger {
      color: $gray;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__icon-div {
    background-color: rgba(245, 244, 250, 1);
    display: inline-block;
    padding: 25px 100px 25px 100px;
    margin-bottom: 30px;
  }
  &--position {
    position: relative;
  }
  &__title {
    background-color: #2f303acc;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.14;
    padding-top: 27px;
    padding-bottom: 27px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  &__photos {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    min-width: 1200px;
  }
}

.team {
  background-color: #f5f4fa;
  &__header {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: $gray;
    line-height: 1.17;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  &__list {
    list-style: none;
    display: flex;
    padding-left: 0px;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  &__item {
    text-align: center;
    margin-right: 30px;
    background-color: $white;
    font-size: 16px;
    color: $lightgray;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    line-height: 1.17;
    &--margin-right-0 {
      margin-right: 0px;
    }
  }
  &__name {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: $gray;
    line-height: 1.17;
  }
  &__social-icon {
    fill: rgba(175, 177, 184, 1);
    &-list {
      display: flex;
      padding-left: 32px;
      padding-right: 32px;
      justify-content: space-between;
      margin-top: 16px;
      list-style: none;
    }
    &-div {
      width: 44px;
      height: 44px;
      display: flex;
      @include center;
      border-radius: 50%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      .team__social-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:hover .team__social-icon,
      &:focus .team__social-icon {
        fill: #fff;
      }
      &:hover,
      &:focus {
        background-color: #2196f3;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
  &__icon-social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus .team__social-icon-div .team__social-icon {
      fill: $white;
    }
    &:focus .team__social-icon-div {
      background-color: #2196f3;
    }
  }
}

.clients {
  &__header {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(33, 33, 33, 1);
    margin-bottom: 50px;
  }
  &__div {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  &__bg-and-border {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    @include center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    & svg {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover,
    &:focus {
      border: 1px solid $blue;
      cursor: pointer;
    }
    &:hover .team__social-icon,
    &:focus .team__social-icon {
      color: $blue;
      fill: #2196f3;
    }
  }
  &__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus .clients__bg-and-border .team__social-icon {
      color: $blue;
      fill: #2196f3;
    }
    &:focus .clients__bg-and-border {
      border: 1px solid $blue;
    }
  }
}
