.portfolio-nav {
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
  }
  &__btn {
    background-color: #f5f4fa;
    color: $gray;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.6;
    border-radius: 4px;
    border: none;
    padding: 6px 22px 6px 22px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $blue;
      color: $white;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }
  &__item {
    margin-right: 8px;

    &--margin-right-0 {
      margin-right: 0px;
    }
  }
}

.portfolio {
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 30px;

    justify-content: center;
    color: $lightgray;
    font-size: 14px;
  }
  &__item-header {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 2;
    color: $gray;
    padding-left: 24px;
    padding-top: 20px;
    border-right: 1px #ececec solid;
    border-left: 1px #ececec solid;
  }
  &__img {
    position: relative;
    overflow: hidden;
  }
  &__info {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 49px 45px 49px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    color: $white;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item {
    background-color: $white;
    max-width: 370px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .portfolio__info {
      transform: translatey(0);
    }
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
    }
    &-description {
      padding-left: 24px;
      padding-top: 4px;
      padding-bottom: 20px;
      border-bottom: 1px #ececec solid;
      border-right: 1px #ececec solid;
      border-left: 1px #ececec solid;
      line-height: 1.9;
    }
  }
}
